//out: style.css, sourcemap: false, compress: true

.chatroom-settings {
  width: 90%; 
  margin: auto;
  margin-top: 0px;
  height: 0px;
  overflow: hidden;
  background-color: red;
  position: relative;
  z-index: 5;
  &.opened {
    height: auto;
  }
  .options {
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    .option {

    }
  }
}