//out: style.css, sourcemap: false, compress:true

.chat-title {
  width: 100%; height: 40px;
  padding: 5px;
  .title-row {
    width: 100%; height: 100%;
    .title, .title-icon {float: left; height: 30px;}
    .title {
      width: 180px; 
      p {
        margin: 0; line-height: 30px;
      }
    }
    .title-icon {
      width: 40px;
      .fas {
        width: 100%; height: 100%;
      }
    }
  }
}
